<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../lib/vue.js"></script>
</head>
<body>
<div id="root">
    <button v-on:click="handleClick">toggle</button>
    <!--<div v-if="show">hello world</div>-->
    <div v-show="show">hello world</div>

    <ul>
        <!--<li v-for="item of list">{{item.name}} is {{item.age}} years old</li>-->
        <li v-for="(item, index) of list" :key="index">{{item}}</li>

        <!--尽量每次遍历写上:key属性，这样会提升每项的渲染效率。注意：key属性一定要是唯一的。-->
    </ul>

    <!--v-show和v-if区别：前者只是改变div元素的display属性为none，显示/隐藏，后者是从DOM树上中移除或添加DOM节点；
        若需频繁地显示或隐藏DOM节点，最佳选择是使用v-show而不是v-if，性能更优。
        若切换频率不高，只需显示/隐藏1-2次，则v-if更佳。-->
</div>

<script>
    new Vue({
        el: "#root",
        data:{
            show:true,
            list:[1,2,3]
//            list:[{name:"jack",age:23},{name:"james",age:25},{name:"john",age:21}]
        },
        methods:{
            handleClick:function(){
                this.show=!this.show;
            }
        }
    });
</script>
</body>
</html>